{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    <a href="{% url 'adicionar_cota' %}" class="btn btn-primary">Adicionar</a>
    <center><h1>Carteira FII</h1></center>
    {% if resultados %}
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>Cota</th>
          <th>Quantidade</th>
          <th>Valor Cota Atual</th>
          <th>Último pagamento</th>
          <th>% Rendimento</th>
          <th>Rendimento Mensal</th>
          <th>Rendimento Semestral</th>
          <th>Rendimento Anual</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>

        {% for r in resultados %}
        <tr>
          <td class="table-primary">
            <a href="{% url 'atualizar_cota' r.id %}">{{r.cota}}</a>
          </td>
          <td class="table-secondary">{{r.quantidade}}</td>
          <td class="table-secondary">R$ {{r.valor_cota_atual}}</td>
          <td class="table-secondary">R$ {{r.ultimo_pagamento}}</td>
          <td class="table-secondary">{{r.porcentagem}} %</td>
          <td class="table-secondary">R$ {{r.rendimento_mensal}}</td>
          <td class="table-secondary">R${{r.rendimento_semestral}}</td>
          <td class="table-secondary">R${{r.rendimento_anual}}</td>
          <td class="table-secondary">
            <a href="{% url 'deletar_cota' r.id %}">Deletar</a>
          </td>
        </tr>
        {% endfor %}
        <tr class="table-dark">
          <td>TOTAIS</td>
          <td>{{total_cotas}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td>R$ {{total_mensal}}</td>
          <td>R$ {{total_semestral}}</td>
          <td>R$ {{total_anual}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    {% else %}
    <center><h6>Sem resultados...</h6></center>
    {% endif %}
    <hr>
    <center>
      <h4>Análise de Compra / Rendimento</h4>
    </center>
    {% if resultados %}
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>Cota</th>
          <th>Mensal</th>
          <th>Semestral</th>
          <th>Anual</th>
        </tr>
      </thead>
      <tbody>
      {% for r in resultados %}
        <tr>
          <td class="table-primary">{{r.cota}}</td>
          {% if r.sg_mensal >= 1 %}
              <td style="background-color: green; color: white; text-align: center;">{{r.sg_mensal}}</td>
          {% else %}
              <td style="background-color: red; color: white; text-align: center;">{{r.sg_mensal}}</td>
          {% endif %}

          {% if r.sg_semestral >= 1 %}
          <td style="background-color: green; color: white; text-align: center;">{{r.sg_semestral}}</td>
          {% else %}
          <td style="background-color: red; color: white; text-align: center;">{{r.sg_semestral}}</td>
          {% endif %}

          {% if r.sg_anual >= 1 %}
          <td style="background-color: green; color: white; text-align: center;">{{r.sg_anual}}</td>
          {% else %}
          <td style="background-color: red; color: white; text-align: center;">{{r.sg_anual}}</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr class="table-dark">
        <td>TOTAIS</td>
        <td>{{total_sg_mensal}}</td>
        <td>{{total_sg_semestral}}</td>
        <td>{{total_sg_anual}}</td>
      </tr>
      </tbody>

    </table>
    {% else %}
    <center><h6>Sem resultados...</h6></center>
    {% endif %}
  </div>
{% endblock %}